<h1>Hello</h1>
<!-- interpolation -->
<!-- <h1>{{title}}</h1> -->
<!-- <login></login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-profile></app-profile> -->

<!-- <h1>Fn Call on Button Click</h1>
<button (click)="handleClickEvent()">Click Me!</button>

<button (click)="handleSum(10,20)">Sum</button> -->

<!-- <h1>Counter App</h1>
<div>
    <h2>{{count}}</h2>
    <button (click)="handleCounter('minus')">Decrement</button>
    <button (click)="handleCounter('reset')">Reset</button>
    <button (click)="handleCounter('plus')">Increment</button>
</div> -->

<!-- <h1>Get and set input feild</h1>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter user name"><br><br>
<button (click)="showName()">Get Value</button>
<button (click)="setName()">Set Value</button>

<br>

<h2>{{displayName}}</h2> -->

<!-- <h1>If Else | control flow</h1>

<button (click)="toogleDiv()">
  {{ display ? "Hide Div" : "Show Div" }} -->

<!-- @if(display){Hide Div}@else{Show Div} -->
<!-- </button>

@if(display){
<div style="width: 200px; height: 200px; background-color: teal"></div>
} -->

<!-- <h1>Else if | control flow</h1>

<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">yellow</button>
<button (click)="handleColor(3)">Green</button>
<button (click)="handleColor(4)">Other</button>
<input type="text" (input)="handleInput($event)" placeholder="Enter Color number">

@if(color == 1){
<div style="background-color: red; width: 100px; height: 100px"></div>
} @else if(color == 2){
<div style="background-color: yellow; width: 100px; height: 100px"></div>
} @else if(color == 3){
<div style="background-color: green; width: 100px; height: 100px"></div>
} @else{
<div style="background-color: black; width: 100px; height: 100px"></div>
} -->

<!-- <h1>For Loops in ng</h1> -->

<!-- @for(item of users; track item){
  <h2>{{item}}</h2>
} -->

<!-- @for(item of students; track item){
  <h2>{{item.name}}</h2>
  <h2>{{item.age}}</h2>
  <h2>{{item.address}}</h2>
} -->

<!-- <h1>{{cnt()}}</h1>
<h1>{{x}}</h1>


<button (click)="updateVal()">click</button>
<button (click)="updateX()">click</button> -->

<!-- <h1>{{data()}}</h1>

<button (click)="updateSignal()">Update</button> -->

<!-- <h1>Computed signals</h1>

<button (click)="showValue()" >Show value</button> -->
<!-- 
<h1>For loop contextual values</h1>

@for(item of users; track item; let i = $index;) { @if($first || $last){
<h3 style="color: red">this is our {{ i + 1 }} user and name is {{ item }}</h3>
} @else{
<h3 style="color: black">
  this is our {{ i + 1 }} user and name is {{ item }}
</h3>
} } @empty() {
<h3 style="color: blue">No users found</h3>
} -->

<!-- 
<h1>Two way binding</h1>

<input [(ngModel)]="name" type="text" placeholder="Enter user name:">

<h1>{{name}}</h1> -->

<!-- <h1>ToDo List</h1>
<input [(ngModel)]="task" type="text" placeholder="Enter Task" />


<button (click)="addTask()">Add Task</button>


@for(item of taskList; track item.id){
  <ul>
    <li>{{item.id}}</li>
    <li>{{item.task}}</li>
    <li><button (click)="deleteTask(item.id)">Delete</button></li>
  </ul>
} -->

<!-- <h1 [style.backgroundColor]="bgColor" [style.fontSize]="fontSize">
  Dynamic style
</h1>


<h1 [style.fontSize]="zoom ? headingSizeBig : headingSizeSmall" >Heading</h1>
<button (click)="updateSize()">Click</button> -->
<!-- 
<h1 *ngIf="show">Heading tag</h1>

<ul>
  <li *ngFor="let item of students">{{item.name}},{{item.age}}</li>
</ul> -->

<!-- <h1>*ngIf Directives</h1>

<div *ngIf="login; else elseBlock">
  <a href="">Logout</a>
</div>
<ng-template #elseBlock>
  <a href="">Login</a>
</ng-template> -->
<!-- 
<app-header></app-header>

<router-outlet /> -->

<!-- <h1>Basic of React Forms</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="enter Name" formControlName="name" />
  <span *ngIf="name?.hasError('required')" style="color: red">*</span>
  <span
    *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    style="color: red"
    >Please enter username</span
  >
  <br />
  <input type="text" placeholder="enter Password" formControlName="password" />
  <br />
  <input type="text" placeholder="enter Email" formControlName="email" />
  <br />
  <button>Submit</button>
</form> -->

<!-- <h1>Template Driven Forms</h1>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input #name="ngModel" type="text" required placeholder="Enter name" name="name" ngModel>
  <span *ngIf="name.invalid && name.touched" style="color: red;">*</span><br><br>
  <input #password="ngModel" required type="password" minlength="5" placeholder="Enter password" name="password" ngModel >
  <span *ngIf="password.invalid && password.touched" style="color: red;">*</span><br><br>

  <select name="gender" ngModel >
    <option value="">Select gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select><br><br> 
  <input type="range" min="0" max="20" name="range" ngModel>
  <br><br>
  <button [disabled]="userForm.invalid">Add User</button>
</form> -->

<!-- <h1>Pass data to child component</h1>
<app-user [user]="selectedUser.value" ></app-user>

<select #selectedUser (change)="onUserChange(selectedUser.value)">
  <option value="Tushar">Tushar</option>
  <option value="Sam">Sam</option>
  <option value="Ayush">Ayush</option>
  <option value="Tony">Tony</option>
</select> -->

<!-- <h1>Custom Pipe in Angular</h1>

<h1>₹{{amount | currencyConvertor}}</h1>
<h1>₹{{amount | currencyConvertor:12}}</h1> -->

<button (click)="getProductList()">Load Data</button>

@for(item of productList; track item){
<ul>
  <li>{{ item.title }}</li>
  <li>{{ item.price }}</li>
  <li>{{ item.brand }}</li>
  <li>{{ item.sku }}</li>
</ul>
}
